/*--------------------------------HEADER----------------------------------------*/
.header {
  background: white;
  padding: 2rem 0;

  /* this is for fixing the menu */
  position: fixed;
  left: 0;
  top: 0;
  /* for filling all the space */
  width: 100%;
}

.header a {
  color: black;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  /* Items aling to center*/
  align-items: center;
  /* Make the flexible items wrap if necessary*/
  /* I am using it for the responsive adpatation*/
  flex-wrap: wrap;
}


.logo {
  letter-spacing: 15px;
  font-size: 1.3em;
}

.menu-icon {
  display: none;
}


ul li{
  margin: 0;
  padding: 0;
  list-style: none;
  
}



/* los enlaces dentro del menu */
.navigation li a {
  background: white;
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;

}
.navigation > li{
  float: left;


}
.navigation li ul{
  display: none;

  position: absolute;
}
.navigation li:hover>ul{
display: block;
font-size: 14px;

}

 .navigation li a:hover {
  background: rgb(236, 120, 11);
}


/*--------------------------------BODY----------------------------------------*/
/*--------------------------------BODY----------------------------------------*/
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(236, 120, 11);
  font-size: 1.2rem; /*Word size*/
  line-height: 1.6em; /* line spacing */
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

/* paragraphs */
p {
  margin-bottom: 1.6em;   /*margin between paragraphs*/
}
.container {
  width: 85%;
  max-width: 90%;
  margin: 0 auto;
}

/* Amount of space between the top and the begin of the content after the header */
.main {
  padding-top: 8rem;
  margin: auto;
}

/*No utilizar pixeles es mejor utilizar em*/
/* This is the layout of the form */

#firstContent{
width: 700px;
padding: 30px;
margin: auto;
height: 300px;
}

.Login_banner{

height: 70px;
background-color: black;
}
.Login_banner h1{
  padding-top: 15px;
  color: white;
 margin-left: 7.5%;
  }

.Login{
border-bottom: 1px solid #aaa;
margin: auto;
}

.register-form{
width: 400px;
padding: 10px;
margin: auto;
font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;


}

.register-form p{
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.register-form a{

  font-size: 18px;
  text-decoration: none;
}
.register-form a:hover{

  font-size: 18px;
  text-decoration: underline;
}

.register-form h1{
  font-size: 22px;
  margin-bottom: 1em;
}

.main-form{
margin-top: 2em;

}
/*Los em estan definidos puntualmente*/
.form-item{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1em;
  border: 1px solid black;
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;

}
.form-item:focus{
  outline: none;
  color: black;
  font-style: italic;
}


input[type="submit"]{
  width: 100%;
  background-color: rgb(236, 120, 11);
  border: none;
  padding: 1em;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 5px 0px;
}
input[type="submit"]:hover{
  width: 100%;
  background-color: black;
  border: none;
  padding: 1em;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 5px 0px;
}

/*--------------------------------FOOTER----------------------------------------*/
.footer {
  background: black;
  padding: 10px 0;
  text-align: center;
  margin-top: 5rem;
  width: 100%;
}

.contact-info{
text-align: left;
margin: 2em;
}

.copyright-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.copyright-list li {
  text-align: center;
  display: inline-block;
}

.copyright-list li a{
  color:rgb(236, 120, 11);
  padding: 0px;
  display: block;
  text-decoration: none;
}



/*--------------------------------RESPONSIVE----------------------------------------*/

/*--------------------------------Media query----------------------------------------*/
/*--------It is how the page is going to be int a max witdh ofr 767------------------*/

@media only screen and (max-width: 767px) {
    .menu-icon{
        display: block;
    /*---cursor pointer for mobile users------------------*/
        cursor: pointer;
    }

    .navigation{
        width: 100%;
    }
      /*---Hide the menu------------------*/
    .navigation ul{
        display: none;
    }
      /*---Show the menu------------------*/
    .navigation ul.show{
        display: block;
    }

    .navigation ul li {
        display: block;
      }

      /* Links inside the menu */
      .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
      }

      .navigation ul li a:hover {
        background: #cc4444;
      }

}
